

.containerinfo h1{
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
}

.containerinfo form{
    width: 300px;
    margin-left: 20px;

}
.containerinfo form label{
    display: flex;
    margin-top: 20px;
    font-size: 18px;

}

.containerinfo form input{
    width: 100%;
    padding: 10px;
    border: none;
    border: 1px solid gray;
    border-radius: 8px;
    outline: none;
}



.containerinfo p {
    text-align: end;
    padding-top: 10px;
    padding-right: 40px;
}

.containerinfo p a{
    text-decoration: none;
    color: #000;
}

.containerinfo p a:hover{
   text-decoration: underline;
}
